.root{
	-fx-base: CornflowerBlue;
	-fx-background: rgb(227,231,239);
}
.TitledPane{
	-fx-text-fill: FIREBRICK;
}
#match_details{
	-fx-background-color: rgb(177,174,218);
}
.match:hover{
	-fx-font: bold 12pt "Calibri";
	-fx-effect: dropshadow(three-pass-box , blue, 20, 0.4 , 0 , 0 );
	-fx-cursor: hand;
}
