.root{
	-fx-base: yellow;
	-fx-background: rgb(50, 200, 50);
}
.TitledPane{
	-fx-text-fill: red;
}
#match_details{
	-fx-background-color: rgb(50, 210, 50);
}
.match:hover{
	-fx-font: bold 12pt "Arial";
	-fx-effect: dropshadow( one-pass-box , blue, 20, 0.4 , 0 , 0 );
	-fx-cursor: hand;
}
